/* General styles */

* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    background-color: whitesmoke;
}

main {
    margin: 20px;
    grid-area: main;
    margin-bottom: 100px;
}

p {
    font-size: 20px;
    max-width: 700px;
    margin: auto;
}

.blue {
    background-color: lightskyblue;
}

.black {
    background-color: black;
    color: grey;
}

/* Common elements */

.container {
    display: grid;
    grid-template-rows: max-content auto max-content;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "header nav"
                         "main main"
                         "footer footer";
    text-align: center;
    min-height: 100vh;
}

header {
    font-weight: bold;
    text-align: center;
    grid-area: header;
    width: 100%;

}

header a {
    font-size: 2em;
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: flex-end;
    height: max-content;
    font-weight: lighter;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    float: left;
}


li a, header a {
    padding: 25px 25px;
    margin: 0;
    display: inline-block;
    text-decoration: none;
    color: black;
}


header a:hover{
    color: lightskyblue;  
}

li a:hover {
    color: lightskyblue;  
    text-shadow: 0 0 30px lightskyblue;
}

footer {
    position: relative;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 30px 0;
    grid-area: footer;
}

/* Welcome animation */

@keyframes shadow {
    0% {
        color: whitesmoke;
        text-shadow: 0 0 0px whitesmoke;

      }
      100% {
        color: white;
        text-shadow: 0 0 1000px lightskyblue, 0 0 200px lightskyblue;
    }
}

.huge {
    font-size: 150px;
    animation: 4s ease-in-out 0s 1 shadow;
    color: white;
    text-shadow: 0 0 1000px lightskyblue, 0 0 200px lightskyblue;
}

/* Ranking page */

.ranking {
    grid-area: main;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: "search"
                         "results";
}

#search {
    grid-area: search;
    width: 98%;
    text-align: center;
    font-size: 2em;
    margin: 10px 0;
    padding: 10px;
    border: 1px lightskyblue solid;
}

#search:focus {
    outline: 2px solid lightskyblue;
}

th {
    height: 40px;
    background-color: black;
    color: white;
}

td {
    background-color: white;
    height: 80px;
}

table {
    width: 100%;
    grid-area: results;
}

/* Rating page */

#login {
    max-width: 300px;
    margin: auto;
}

.field {
    width: 300px;
    font-size: 1.2em;  
    margin-top: 10px;
    padding: 3px;
}

.field:focus {
    border: 1px solid lightskyblue;
    outline: none;
}

#submit {
    margin: 10px;
    font-size: 1em;
    padding: 5px;
    background-color: whitesmoke;
    border: none;
    font-weight: lighter;
}

#submit:hover {
    color: lightskyblue;
}

#submit:active {
    color: white;
}

#submit:focus {
    outline: 1px solid lightskyblue;
}